.notification-heading {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.25;
    color: #333;
}

.notification-unread {
    background: white;
}

.notification-unread .notification-heading {
    color: #464a53;
}

.avatar-img {
    border-radius: 50px;
    width: 2.5rem;
    position: absolute;
    top: 1.2rem;
}

.avatar-icon {
    border-radius: 50px;
    width: 2.5rem;
    position: absolute;
    top: 0.9625rem;
    height: 2.5rem;
    padding: 0.625rem 0.8125rem;
}

.notification-content {
    margin-left: 3.4375rem;
    margin-right: 1.5625rem;
}

.user-avatar {
    margin-left: 0.625rem;
    font-size: 0.875rem;
    font-weight: 700;
}

.notification-text {
    font-size: 0.725rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0.1875rem;
    line-height: 1.25;
    font-weight: 300;
}

.notification-timestamp {
    font-size: 0.725rem;
    display: block;
    margin-top: 0.5625rem;
    font-weight: 300;
}

.notification-percentage {
    font-size: 0.75rem;
    position: relative;
    top: 0.75rem;
}

.more-link {
    display: inline-block;
    color: #464a53 !important;
}

.dropdown-notfication li:not(:last-child) {
    border-bottom: 1px solid #EEEEEE;
}

.dropdown-notfication li a {
    display: block;
}

.dropdown-notfication li:nth-child(1) .avatar-icon {
    background-color: #F6514C;
}

.dropdown-notfication li:nth-child(2) .avatar-icon {
    background-color: #449036;
}

.dropdown-notfication li:nth-child(3) .avatar-icon {
    background-color: #CE2B23;
}

.dropdown-notfication li:nth-child(4) .avatar-icon {
    background-color: #3375E1;
}

.dropdown-notfication .avatar-icon {
    top: 0.9625rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.dropdown-mega-menu {
    width: 100%;
    right: 0;
    left: 0;
    padding: 1.875rem;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .dropdown-mega-menu ul {
        display: flex;
        flex-direction: column;
        height: 12.5rem !important;
        flex-wrap: wrap;
    }
}

.dropdown-mega-menu ul a {
    transition: all .2s;
}

.dropdown-mega-menu .heading {
    color: #000;
}

.dropdown-mega-menu .ext-link a {
    display: inline-block;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    line-height: 2.4;
    text-align: center;
    width: 13.125rem;
}

.dropdown-profile {
    width: 12rem;
}

@media (max-width: 575.98px) {
    .dropdown-profile {
        width: 12.5rem !important;
    }
}

.dropdown-profile .trial-day {
    color: #7571f9;
}

.dropdown-profile ul {
    padding: 0rem 0;
}

.dropdown-profile li {
    padding: 0.4375rem 1.25rem !important;
    margin-bottom: 0 !important;
}

.dropdown-profile li a {
    display: block;
}

.dropdown-profile li a span {
    transition: all .2s;
}

.dropdown-profile li a i {
    margin-right: 0.3125rem;
    font-size: 0.95rem;
    position: relative;
    top: 2px;
    color: #333;
}

.dropdown-profile li:last-child {
    padding: .7rem 0.9375rem;
}

.dropdown-language {
    width: 7.5rem;
}

.dropdown-language ul {
    padding: 0.625rem 0;
}

.dropdown-language ul li {
    padding: 0.4375rem 1.25rem;
}

.dropdown-task .progress {
    box-shadow: none;
    height: 0.3125rem;
    margin-bottom: 0.3125rem;
    margin-top: 0.625rem;
}

.dropdown-task .progress-bar {
    box-shadow: none;
}